/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  /* Header styles */
header {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .hero-image {
    background-image: url("https://alumni.ncsy.org/content/uploads/2016/05/Ohio-State.jpg"); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
  }
  
  .hero-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 18px;
  }
  
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main styles */
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  